extends layout

block content
	div(ng-controller="TestCtrl")
		div.row
			label Quantity:
			input(type="number" ng-model="quantity")
		div.row
			label Costs:
			input(type="number" ng-model="price")
		
		Total in dollar: {{ quantity * price }}

	script.
		angular.module('app',[])
			.controller('TestCtrl', function($scope) {
				$scope.price = 10
				$scope.quantity = 5
			})
